#BingoBoard {
  width: 750px;
  height: 750px;
  margin: 0 auto;
  padding: 3px;
}
.space.checked {
  border-radius: 50%;
  transition: all 0.2s ease-in 0s;
}
.space {
  border-radius: 0%;
  transition: all 0.2s ease-in 0s;
}
@media (max-width: 767px) {
  #BingoBoard {
    width: 400px;
    height: 400px;
  }
}
